<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý cửa hàng</title>    
    <link rel="stylesheet" href="/stylesheets/admin.css" />
  </head>
  <body>
    <div class = "title"> Doanh số bán hàng</div>
    <div>Tổng giá trị hóa đơn:<span class='total'></span></div>
    <div class = "tooltip"></div>
    <svg width = "600" height = "300"></svg>
    <div>
      Top 3 người mua
      <p class='top1'></p>
      <p class='top2'></p>
      <p class='top3'></p>
    </div>
  </body>
</html>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/javascripts/admin.js"></script>