<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/javascripts/script.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type='button' onclick="hello()">Hey</button>
    <form>
      <input type="text" name='key'><br>
      <input type="button" onclick="Search()" value="Search">
    </form>
  </body>
</html>
