<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class='topnav'>
    <p><%= title %></p>
    <form name="search" class='search'>
      <input type="text" name="key">
      <button type="submit">Search</button>
    </form>
    </div>
    <div class='cart'>
    <p>
      Item in cart: <span id='item'>0</span>
    </p>
    <p id="itemlist"></p>
    <p>
      Current total: $<span id='cost'>0</span>
    </p>
    </div>
    <div id="result">     
    </div>
  </body>
</html>
