<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class='topnav'>
    <p><%= title %></p>
    <form name="search" class='search'>
      <input type="text" name="key">
      <button type="submit"><img src='https://cdn.glitch.com/105abdff-5809-4298-b203-62e145394155%2Fsearch.png?1523028276612'></button>
    </form>
    <span id='login'>
    <% if (user) { %>
       Xin chào <%= user %>
      <a href='/logout' class='button'>
        Đăng Xuất
      </a>
    <% }  else { %>

        <form method="get" action="/login">
          <button type="submit">Đăng Nhập/Đăng Kí</button>
        </form>
    <% } %>
      </span>
      <% if(user) { %> 
      <div class='cart dropdown'>
        <button class='dropbtn'><img src='https://cdn.glitch.com/105abdff-5809-4298-b203-62e145394155%2Frsz_cart.png?1522940113892'></button>
        <div class='dropdown-content'>
          <p>Giỏ hàng : <span id='item'>0</span></p>
          <p id="itemlist"></p>
          <p>Tổng giá trị: $<span id='cost'>0</span></p>
          <a class='button' id='order'>Thanh toán</a>
        </div>
      </div>
     <% } %>
    </div>
    <div id='text'>
      
    </div>
    <div id="result">  
    </div>
    <% if (!user) { %> 
    <div id='text'>
      Xin hãy đăng nhập để có thể đặt hàng
    </div>
    <% } %>
  </body>
</html>
